{% raw %}{% load static cms_tags sekizai_tags djng_tags i18n %}
{% extends "ngocms/pages/base.html" %}

{% block toast-messages %}{% include "shop/messages.html" %}{% endblock %}

{% block "js"{% endraw %}{% if cookiecutter.use_compressor == 'y' %} postprocessor "shop.sekizai_processors.compress"{% endif %}{% raw %} %}

{% block ngjs %}
<script type="text/javascript">
	angular.module('{% endraw %}{{ cookiecutter.appName }}{% raw %}Shop', ['ngAnimate', 'ngSanitize', {% with_data "ng-requires" as ng_requires %}
		{% for module in ng_requires %}'{{ module }}'{% if not forloop.last %}, {% endif %}{% endfor %}{% end_with_data %}
	]).config(['$httpProvider', '$locationProvider', '$sanitizeProvider', function($httpProvider, $locationProvider, $sanitizeProvider) {
		$httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token }}';
		$httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
		$locationProvider.html5Mode({
			enabled: true,
			requireBase: false,
			rewriteLinks: false
		});
		$sanitizeProvider.addValidAttrs(['srcset']);
	}]){% with_data "ng-config" as configs %}
		{% for config in configs %}.config({{ config }}){% endfor %};
	{% end_with_data %}
	</script>
{% endblock %}
{% endraw %}
